# Server
PORT=3001
API_URL=http://localhost:3001/api

# Database
DB_CONNECTION_STRING=mongodb://localhost:27017/resumebuilder

# BCRYPT
BCRYPT_SALT_ROUND=9

# JWT
JWT_SECRET=change_this_key
JWT_EXPIRY_IN_SECONDS=86400

# SMTP Credentials
SMTP_HOST=test.example.com
SMTP_PORT=2525
SMTP_USER=user
SMTP_PASSWORD=password
SENDER_ADDRESS=test@example.com